$orbment-brown: radial-gradient(
  circle at 50% 120%,
  #f6cd81,
  #efc776 10%,
  #945805 80%,
  #452606 100%
);

$orbment-aqua: radial-gradient(
  circle at 50% 120%,
  #81f6f2,
  #7ae9fa 10%,
  #0671b4 80%,
  #094562 100%
);

$orbment-red: radial-gradient(
  circle at 50% 120%,
  #f68181,
  #ef7676 10%,
  #940505 80%,
  #450606 100%
);


$orbment-green: radial-gradient(
  circle at 50% 120%,
  #81f693,
  #76efae 10%,
  #059429 80%,
  #06451e 100%
);

$orbment-dark: radial-gradient(
  circle at 50% 120%,
  #5b5b5b,
  #3f3f3f 10%,
  #282828 80%,
  #000000 100%
);

$orbment-light: radial-gradient(
  circle at 50% 120%,
  #f6ee81,
  #efe176 10%,
  #eec807 80%,
  #c6c00e 100%
);

$orbment-silver: radial-gradient(
  circle at 50% 120%,
  #b2b2b2,
  #b1b1b1 10%,
  #757575 80%,
  #666666 100%
);


$orbment-line1: linear-gradient(90deg, #ffffff, #c59e00, #ffffff);
$orbment-line1-light: linear-gradient(90deg, #ffffff, #c59e00, #ffffff);

$orbment-line2: linear-gradient(90deg, #ffffff, #0086c5, #ffffff);
$orbment-line2-light: linear-gradient(90deg, #ffffff, #0086c5, #ffffff);

$orbment-line3: linear-gradient(90deg, #ffffff, #c50000, #ffffff);
$orbment-line3-light: linear-gradient(90deg, #ffffffd5, #c50000d5, #ffffffd5);

$orbment-line4: linear-gradient(90deg, #ffffff, #c500a1, #ffffff);
$orbment-line4-light: linear-gradient(90deg, #ffffffd5, #c500a1d5, #ffffffd5);

$orbment-line5: linear-gradient(90deg, #ffffff, #2bc500, #ffffff);
$orbment-line5-light: linear-gradient(90deg, #ffffffd5, #2bc500d5, #ffffffd5);